.itemDetailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.detailCard{
    position: relative;
    display: flex;
    width: 80%;
    height: 470px;
    overflow:hidden ;
    margin: 20px 30px;
    border-radius: 26px;
    background: #ffffff;
    box-shadow:  26px 26px 52px #ababab,
                -26px -26px 52px #ffffff;
}
.detailCard img{
    filter:brightness(0.75);
    position: relative;
    top:0px;
    width: 40%;
}
.detailCardInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.counterButtons{
    color: #00000099;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: x-large;
}

.carritoAddButton{
    border: none;
    background-color:#008000;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.carritoAddButton:hover,.counterButtons:hover{
    transform:scale(1.1);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
.carritoAddButton:active{
    filter:contrast(75%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.detailCardTitle{
    text-align: center;
    color:#000000de;
    font-size: 38px;
    z-index: 10;
}
.detailCardText{
    text-align: center;
    color:#00000099;
    font-size: 18px;
    z-index: 10;
}
.cardBuyContainer,.cardBuyInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 768px){
    .detailCard{
        display: flex ;
        flex-direction: column;
        position: relative;
        width: 300px;
        height: auto;
        overflow:hidden ;
        margin: 40px 30px;
        border-radius: 26px;
        background: #ffffff;
        box-shadow:  26px 26px 52px #ababab;
    }
    .detailCard img{
        filter:brightness(0.75);
        position: relative;
        top:0px;
        width: 100%;
        height: 60%;
    }
    .detailCardInfo{
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: space-between;
        align-items: center;
        text-align:center ;
    }
    .detailCardTitle{
        color:#000000de;
        font-size: 37px;
        z-index: 10;
    }
    .detailCardText{
        font-size: 16px;
        color: #00000099;
    }
}