.tiendaCard{
    position: relative;
    width: 400px;
    height: 600px;
    overflow:hidden ;
    margin: 40px 30px;
    border-radius: 3px;
    border:rgb(43, 117, 8) solid 25px;
    background: #ffffff;
    box-shadow:  26px 26px 52px #314d25;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.tiendaCard img{
    filter:brightness(0.75);
    clip-path: polygon(100% 0%, 0% 0% , 0% 94.00%, 1% 93.99%, 2% 93.94%, 3% 93.88%, 4% 93.78%, 5% 93.66%, 6% 93.51%, 7% 93.34%, 8% 93.14%, 9% 92.93%, 10% 92.69%, 11% 92.43%, 12% 92.16%, 13% 91.87%, 14% 91.57%, 15% 91.26%, 16% 90.94%, 17% 90.61%, 18% 90.28%, 19% 89.95%, 20% 89.62%, 21% 89.29%, 22% 88.96%, 23% 88.64%, 24% 88.34%, 25% 88.04%, 26% 87.76%, 27% 87.49%, 28% 87.24%, 29% 87.01%, 30% 86.80%, 31% 86.61%, 32% 86.44%, 33% 86.30%, 34% 86.19%, 35% 86.10%, 36% 86.04%, 37% 86.01%, 38% 86.00%, 39% 86.02%, 40% 86.07%, 41% 86.15%, 42% 86.25%, 43% 86.38%, 44% 86.54%, 45% 86.72%, 46% 86.92%, 47% 87.14%, 48% 87.39%, 49% 87.65%, 50% 87.92%, 51% 88.22%, 52% 88.52%, 53% 88.83%, 54% 89.16%, 55% 89.49%, 56% 89.82%, 57% 90.15%, 58% 90.48%, 59% 90.81%, 60% 91.13%, 61% 91.45%, 62% 91.76%, 63% 92.05%, 64% 92.33%, 65% 92.59%, 66% 92.83%, 67% 93.06%, 68% 93.26%, 69% 93.44%, 70% 93.60%, 71% 93.73%, 72% 93.84%, 73% 93.92%, 74% 93.97%, 75% 94.00%, 76% 93.99%, 77% 93.96%, 78% 93.91%, 79% 93.82%, 80% 93.71%, 81% 93.57%, 82% 93.41%, 83% 93.22%, 84% 93.02%, 85% 92.79%, 86% 92.54%, 87% 92.27%, 88% 91.99%, 89% 91.69%, 90% 91.39%, 91% 91.07%, 92% 90.74%, 93% 90.42%, 94% 90.08%, 95% 89.75%, 96% 89.42%, 97% 89.09%, 98% 88.77%, 99% 88.46%, 100% 88.16%);
    position: relative;
    top:0px;
    width: 100%;
    height: 60%;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    text-align:center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardText{
    color:#235005de;
    font-size: 37px;
    z-index: 10;
}
.cardPrice{
    font-size: 24px;
    color: black;
}
.cardFooter{
    font-size: 16px;
    color: grey;
}