.navbar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.cartWidget{
    position: absolute;
    top:4px;
    right:60px
}
@media all and (max-width: 768px){
    .cartWidget{
        position: relative;
    }
}